[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrdict = "*"
svgwrite = "*"
dill = "*"
Pint = "*"
numpy = "*"
matplotlib = "*"
jupyter = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.7"
